<h1>Edit a Sub </h1>

<form action="<%= sub_url(@sub) %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <%= auth_token %>
    <input type="hidden" name="sub[mod_id]" value="<%= current_user.id %>">

    <label>Title:
        <input type="text" name="sub[title]" value="<%= @sub.title %>">
    </label>
    <br>
    <label>Description:
        <textarea name="sub[description]" cols="30" rows="10"><%= @sub.description %></textarea>
    </label>
    <br>

    <button>Edit Sub</button>
</form>